DB_URL=jdbc:oracle:thin:@//YOUR_ORACLE_HOST:1521/YOUR_SERVICE_NAME
DB_USERNAME=your_oracle_user
DB_PASSWORD=your_oracle_password

JWT_ISSUER_URI=https://demodogos.b2clogin.com/7d2cf812-a383-4cf9-a417-917ff7bc9ac4/v2.0/
JWT_JWK_SET_URI=https://demodogos.b2clogin.com/demodogos.onmicrosoft.com/B2C_1_signupsignin/discovery/v2.0/keys